node_modules
*.gz
*.log

BackEnd/SAM.json
BackEnd/Messages.json
BackEnd/Rating.json
BackEnd/Images.json

FrontEnd/typings/
FrontEnd/dist/

/Android/app/*.iml
/Android/app/.gradle
/Android/app/local.properties
/Android/app/.idea/workspace.xml
/Android/app/.idea/libraries
/Android/app/build
/Android/app/captures
/Android/app/.externalNativeBuild