<div class="container">
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" name="name" />
            <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                Name is required.
            </small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" formControlName="description" name="description" />
            <small [hidden]="myForm.controls.description.valid || (myForm.controls.description.pristine && !submitted)" class="text-danger">
                Description is required.
            </small>
        </div>
        <div class="form-group">
            <label for="categories">Categories</label>
            <select class="form-control" formControlName="categories" name="categories" (change)="onChangeCategory($event.target.value)">
                <!--<option value=0 selected="selected">Select a category</option>-->
                <option *ngFor="let cat of cats" value={{cat.id}}>
                    {{cat.name}}
                </option>
            </select>
        </div>
        <div class="form-group" *ngIf="areTagsAvailable">
            <label for="tags">Tags</label>
            <ng-select [data]="value" [multiple]="true" [items]="tags" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                (removed)="removed($event)" placeholder="No tags selected yet"></ng-select>
            <pre>{{itemsToString(value)}}</pre>
            <input type="hidden" class="form-control" formControlName="tags" name="tags" />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid" (click)="save(myForm)">Save</button>
        <p>{{ message }}</p>
    </form>
</div>