<!--<div class="container">
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" name="name" />
            <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                Name is required.
            </small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" formControlName="description" name="description" />
            <small [hidden]="myForm.controls.description.valid || (myForm.controls.description.pristine && !submitted)" class="text-danger">
                Description is required.
            </small>
        </div>
        <div class="form-group">
            <label for="category">Categories</label>
            <select class="form-control" formControlName="category" name="category" (change)="onChangeCategory($event.target.value)">
                <option *ngFor="let cat of cats" value={{cat.id}}>
                    {{cat.name}}
                </option>
            </select>
        </div>
        <div class="form-group" *ngIf="areTagsAvailable">
            <label for="tags">Tags</label>
            <ng-select [data]="tagsValue" [multiple]="true" [items]="tags" (data)="refreshValue($event)" 
                placeholder="No tags selected yet"></ng-select>
             <!--(typed)="typed($event)" (removed)="removed($event)" [disabled]="disabled" (selected)="selected($event)"-->
            <!--<pre>{{itemsToString(tagsValue)}}</pre>-->
        <!--</div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid && !submitted" (click)="send(myForm)">Send</button>
        <p>{{ message }}</p>
    </form>
</div>-->