<h2>Dashboard</h2>
<div class="well">
  {{ message }} <button (click)="logout()" class="pull-right">Logout</button>
</div>
<tabs>
  <tab [tabTitle]="'My works'">
    {{ messageWorks }}
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let work of works">
        <a [routerLink]="['/works', work.nameurl]">{{ work.name }}</a>
      </li>
    </ul>
  </tab>
  <tab [tabTitle]="'My profile'">
    <profile-form-component></profile-form-component>
  </tab>
  <tab tabTitle="Users">
    {{ messageUsers }}
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users">
        <a [routerLink]="['/profile', user.name]">{{ user.name }}</a>
      </li>
    </ul>
  </tab>
</tabs>