<div class="container">
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="name" name="username" />
            <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                Username is required.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" formControlName="pass" name="password" />
            <small [hidden]="myForm.controls.pass.valid || (myForm.controls.pass.pristine && !submitted)" class="text-danger">
                Password is required. Min 5 chars and max 20 chars.
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" name="email" />
            <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)" class="text-danger">
                Email is required.
            </small>
        </div>
                <div class="form-group">
            <label for="category">Categories</label>
            <select class="form-control" formControlName="category" name="category" (change)="onChangeCategory($event.target.value)">
                <option *ngFor="let cat of cats" value={{cat.id}}>
                    {{cat.name}}
                </option>
            </select>
        </div>
        <div class="form-group" *ngIf="areTagsAvailable">
            <label for="tags">Tags</label>
            <ng-select [data]="tagsValue" [multiple]="true" [items]="tags" (data)="refreshValue($event)" 
                placeholder="No tags selected yet"></ng-select>
             <!--(typed)="typed($event)" (removed)="removed($event)" [disabled]="disabled" (selected)="selected($event)"-->
            <!--<pre>{{itemsToString(tagsValue)}}</pre>-->
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.valid && !submitted" (click)="register(myForm)">Register</button>
        <p>{{ message }}</p>
    </form>
</div>