<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Home for autheticated people</h1>
  <p>HOME</p>
  <a href="/">home</a>
</body>

</html>