	<!DOCTYPE html>
<html>

<head>
  <title>Create</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Create User</h1>
  <p>User <%= name %> created :)</p>
  <a href="/users">list users</a>
</body>

</html>