<!DOCTYPE html>
<html>

<head>
  <title>Create</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Create User</h1>
  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
	  <div class="alert alert-danger"><%= message %></div>
  <% } %>
  <form action="/signup" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="age" placeholder="age">
    <input type="submit" value="Save">
    <a href='/users'>Users</a>
  </form>
</body>

</html>