<!DOCTYPE html>
<html>

<head>
  <title>
    user list
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= greeting %> list users</h1>
  <p>
    <a href="/signup">Add a user</a>
  </p>
  <% Object.keys(data).forEach(function(key){ %>
    <a href="/user/<%= data[key].name %>"><%= data[key].name %></a> - <a href="/user/del/<%= data[key].name %>">delete</a><br>
  <% }); %>
    <p>
    <a href="/">home</a>
  </p>
</body>

</html>