<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                {{ 'ChangePassword' | translate }}:
            </h4>
        </div>
    </div>
    <form [formGroup]="myForm" novalidate (submit)="register()">
        <div formGroupName="passwords">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="oldpassword">{{ 'OldPasswordHere' | translate }}</label>
                    <input type="password" class="form-control" formControlName="oldpassword" name="oldpassword" [(ngModel)]="oldpassword" minlength="5"
                    />
                    <small [hidden]="myForm.controls.passwords.controls.oldpassword.valid || myForm.controls.passwords.controls.oldpassword.pristine"
                        class="text-danger">
						{{ 'PasswordRequired' | translate }}
					</small>
                </div>
                <div class="col-md-12">
                    <label for="newpassword">{{ 'NewPasswordHere' | translate }}</label>
                    <input type="password" class="form-control" formControlName="newpassword" name="newpassword" [(ngModel)]="newpassword" minlength="5"
                    />
                    <small [hidden]="myForm.controls.passwords.controls.newpassword.valid || myForm.controls.passwords.controls.newpassword.pristine"
                        class="text-danger">
						{{ 'PasswordRequired' | translate }}
					</small>
                </div>
                <div class="col-md-12">
                    <label for="confirmpassword">{{ 'ConfirmNewPassword' | translate }}</label>
                    <input type="password" class="form-control" formControlName="confirmpassword" onpaste="return false" name="confirmpassword"
                        [(ngModel)]="confirmpassword" minlength="5" />
                    <small [hidden]="myForm.controls.passwords.controls.confirmpassword.valid || myForm.controls.passwords.controls.confirmpassword.pristine"
                        class="text-danger">
						{{ 'ConfirmPasswordRequired' | translate }}
					</small>
                    <small [hidden]="!myForm.controls.passwords?.errors?.areEqual" class="text-danger">
						{{ 'ConfirmPasswordSame' | translate }}
					</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ message }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" (click)="changePassword()" class="btn btn-primary">{{ 'Send' | translate }}</button>
            </div>
        </div>
    </form>
</div>