<div class="container">
    <form [formGroup]="myForm" novalidate (submit)="sendContactForm()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="email" autofocus />
            <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine)" class="text-danger">
                Email is required.
            </small>
        </div>
        <div class="form-group">
            <label for="notification">Message</label>
            <input type="text" class="form-control" formControlName="notification" name="notification" [(ngModel)]="notification" />
            <small [hidden]="myForm.controls.notification.valid || (myForm.controls.notification.pristine)" class="text-danger">
                Message is required.
            </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Send</button>
        <p>{{ message }}</p>
    </form>
</div>