<h1>Dashboard</h1>
<div class="row well">
	<div class="col-md-10">
		<h3>{{ model.name }}</h3>
		{{ error }}
	</div>
	<div class="col-md-2">
		<button (click)="logout()" class="pull-right">Logout</button>
	</div>
</div>

<tabset>
	<tab title="My Profile">
		<br>
		<profile-form-component *ngIf="modelProfileForm && catList" [model]="modelProfileForm" [cats]="catList"></profile-form-component>
	</tab>
	<tab title="List all users">
		<br> {{ errorUsers }}
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let user of usersList">
				<a [routerLink]="['/profile', user.nameurl]">{{ user.nameurl + ":" }}</a> {{ user.name + " " + user.surname }}
			</li>
		</ul>
	</tab>
	<tab title="My messages">
		<br> {{ errorMessages }}
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let message of messagesList">
				<a [routerLink]="['/messages', message.nameurl]">{{ message.name }}</a> - {{ message.text }}
			</li>
		</ul>
	</tab>
	<tab title="Credit">
		<div class="row">
			<h4>
				Credit: &euro; {{ model.credit }}
			</h4>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon">&euro;</span>
					<input type="number" min="0" class="form-control" placeholder="Add your new credit to top up here." [(ngModel)]="model.addCredit"
					/>
				</div>
			</div>
			<div class="col-md-4">
				<button type="button" (click)="addCredit()" class="btn btn-primary">Add</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ messageCredit }}
			</div>
		</div>
	</tab>
</tabset>

<!--<div class="container">

     regular tabs 
    <tabset>
        <tab title="About me">
            Its all about me.
        </tab>
        <tab title="Contacts">
            This is content of the contacts tab
        </tab>
        <tab title="Map" [disabled]="true">
            Content of the Map Tab
        </tab>
    </tabset>

    <br/><br/>

     tabs with custom heading templates 
    <tabset>
        <tab>
            <span *tabHeading>
                <b style="color: deepskyblue">About</b> <i style="color: deeppink">me</i>
            </span>
            Its all about me.
        </tab>
        <tab>
            <span *tabHeading>
                <i style="color: deeppink">My</i> <b style="color: deepskyblue">contacts</b>
            </span>
            This is content of the contacts tab
        </tab>
        <tab title="Map">
            Content of the Map Tab
        </tab>
    </tabset>

    <br/><br/>

     pills tabs 
    <tabset [pills]="true">
        <tab title="About me">
            Its all about me.
        </tab>
        <tab title="Contacts">
            This is content of the contacts tab
        </tab>
        <tab title="Map">
            Content of the Map Tab
        </tab>
    </tabset>

</div>-->