<h2>Forgotten Password</h2>
<div class="container">
    <form [formGroup]="myForm" novalidate (submit)="send()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="email" autofocus />
            <small [hidden]="myForm.controls.email.valid || myForm.controls.email.pristine" class="text-danger">
                Email is required.
            </small>
        </div>
         <button type="submit" class="btn btn-default" [disabled]="!myForm.valid">Send</button>
       <p>{{ message }}</p>
    </form>
</div>