<h1>{{ 'ForgottenPassword' | translate }}</h1>
<div class="container">
	<form [formGroup]="myForm" novalidate (submit)="send()">
		<div class="form-group">
			<label for="email">{{ 'Email' | translate }}</label>
			<input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="email" autofocus />
			<small [hidden]="myForm.controls.email.valid || myForm.controls.email.pristine" class="text-danger">
                {{ 'EmailRequired' | translate }}
            </small>
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!myForm.valid">{{ 'Send' | translate }}</button>
		<p>{{ message }}</p>
	</form>
</div>