<h1>{{ 'ForgottenPassword' | translate }}</h1>
<div class="container">
	<form [formGroup]="myForm" novalidate (submit)="changeForgottenPassword()">
		<div formGroupName="passwords">
			<div class="form-group">
				<div class="col-md-12">
					<label for="newpassword">{{ 'NewPasswordHere' | translate }}</label>
					<input type="password" class="form-control" formControlName="newpassword" name="newpassword" [(ngModel)]="newpassword" minlength="5"
					/>
					<small [hidden]="myForm.controls.passwords.controls.newpassword.valid || myForm.controls.passwords.controls.newpassword.pristine"
						class="text-danger">
						{{ 'PasswordRequired' | translate }}
					</small>
				</div>
				<div class="col-md-12">
					<label for="confirmpassword">{{ 'ConfirmNewPassword' | translate }}</label>
					<input type="password" class="form-control" formControlName="confirmpassword" onpaste="return false" name="confirmpassword"
						[(ngModel)]="confirmpassword" minlength="5" />
					<small [hidden]="myForm.controls.passwords.controls.confirmpassword.valid || myForm.controls.passwords.controls.confirmpassword.pristine"
						class="text-danger">
						{{ 'ConfirmPasswordRequired' | translate }}
					</small>
					<small [hidden]="!myForm.controls.passwords?.errors?.areEqual" class="text-danger">
						{{ 'ConfirmPasswordSame' | translate }}
					</small>
				</div>
			</div>
			<p>{{ message }}</p>
			<button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">{{ 'Send' | translate }}</button>
		</div>
	</form>
</div>