<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h1>{{ 'Search' | translate }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="form-group">
			<!--<select class="form-control" (change)="onChangeCategory($event.target.value)">
                <option *ngFor="let cat of cats" value={{cat.id}}>
					{{ cat.name[0].toUpperCase() + cat.name.substr(1) }}
                </option>
            </select>-->
			<template #customItemTemplate let-model="item" let-index="index">
				<!--<h5>This is: {{ model | json }} Index: {{ index }}</h5>-->
				<h5>{{ model.name[0].toUpperCase() + model.name.substr(1) }}</h5>
			</template>
			<!--<pre class="card card-block card-header">Model: {{ customSelected | json }}</pre>-->
			<input [(ngModel)]="c" [typeahead]="cats" [typeaheadItemTemplate]="customItemTemplate" [typeaheadOptionField]="'name'" (typeaheadOnSelect)="onChangeCategory($event)"
				class="form-control" autofocus placeholder="{{ 'Categories' | translate }}" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-7">
		<div class="form-group">
			<input type="text" class="form-control" id="location" placeholder="{{ 'Where' | translate }}" />
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<select class="form-control" (change)="onChangeRadius($event.target.value)">
                <option value=1>1 km</option>
                <option value=2>2 km</option>
                <option value=5>5 km</option>
                <option value=10>10 km</option>
            </select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="form-group">
			<button id="search" class="btn btn-outline-primary btn-lg btn-block" (click)="search()">
				{{ 'Search' | translate }}
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="form-group">
			<p>{{ message }}</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let user of users">
				<a [routerLink]="['/profile', user.url]">{{ user.name }}</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/images/minitrabajo.png" alt="minitrabajo" class="homepic img-responsive">
	</div>
</div>