<div class="container">
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="name" name="username" />
            <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
                Username is required.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" formControlName="pass" name="password" />
            <small [hidden]="myForm.controls.pass.valid || (myForm.controls.pass.pristine && !submitted)" class="text-danger">
                Password is required. Min 5 chars and max 20 chars.
            </small>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.valid && !submitted" (click)="login(myForm)">Login</button>
        <!--<pre>{{ myForm.controls.name.errors | json }}</pre>
        <pre>{{ myForm.controls.pass.errors | json }}</pre>
        <div *ngIf="submitted">
            <div>myForm details:</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>Is myForm submitted?: <br>{{submitted | json}}</pre>
            <pre>submitted value: <br>{{myForm.value | json}}</pre>
        </div>-->
        <p>{{ message }}</p>
    </form>
</div>
<!--Form changes:
<div *ngFor="let event of events">
   <pre> {{ event | json }} </pre>
</div>-->