<div class="container">
	<form [formGroup]="myForm" novalidate (submit)="register()">
		<div class="form-group">
			<label for="username">{{ 'Username' | translate }}</label>
			<input type="text" class="form-control" formControlName="username" name="username" [(ngModel)]="username" autofocus />
			<small [hidden]="myForm.controls.username.valid || myForm.controls.username.pristine" class="text-danger">
                {{ 'UsernameRequired' | translate }}
            </small>
		</div>
		<div class="form-group">
			<label for="email">{{ 'Email' | translate }}</label>
			<input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="email" />
			<small [hidden]="myForm.controls.email.valid || myForm.controls.email.pristine" class="text-danger">
                {{ 'EmailRequired' | translate }}
            </small>
		</div>
		<div class="form-group">
			<label for="name">{{ 'Name' | translate }}</label>
			<input type="text" class="form-control" formControlName="name" name="name" [(ngModel)]="name" />
			<small [hidden]="myForm.controls.name.valid || myForm.controls.name.pristine" class="text-danger">
                {{ 'Where' | translate }}
            </small>
		</div>
		<div class="form-group">
			<label for="password">{{ 'Password' | translate }}</label>
			<input type="text" class="form-control" formControlName="password" name="password" [(ngModel)]="password" minlength="5" />
			<small [hidden]="myForm.controls.password.valid || myForm.controls.password.pristine" class="text-danger">
				{{ 'PasswordRequired' | translate }}
			</small>
		</div>
		<div class="form-group" [class.GoogleInvisible]="!isGoogleVisible">
			<label for="location">{{ 'Location' | translate }}</label>
			<input type="text" class="form-control" id="location" placeholder="{{ 'WhereYouLive' | translate }}" />
		</div>
		<div class="form-group">
			<label for="address">{{ 'Address' | translate }}</label>
			<input type="text" class="form-control" formControlName="address" name="address" [(ngModel)]="address" />
			<small [hidden]="myForm.controls.address.valid || myForm.controls.address.pristine" class="text-danger">
                {{ 'AddressRequired' | translate }}
            </small>
		</div>
		<div class="form-group">
			<label for="mobile">{{ 'Mobile' | translate }}</label>
			<input type="text" class="form-control" formControlName="mobile" name="mobile" [(ngModel)]="mobile" />
			<small [hidden]="myForm.controls.mobile.valid || myForm.controls.mobile.pristine" class="text-danger">
                {{ 'MobileRequired' | translate }}
            </small>
		</div>
		<div class="form-group">
			<label for="category">{{ 'Categories' | translate }}</label>
			<select class="form-control" formControlName="category" name="category" [(ngModel)]="category" (change)="onChangeCategory($event.target.value)">
                <option *ngFor="let cat of cats" value={{cat.id}}>
                    {{ cat.name[0].toUpperCase() + cat.name.substr(1) }}
                </option>
            </select>
		</div>
		<p>{{ message }}</p>
		<button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">{{ 'Register' | translate }}</button>
	</form>
</div>